.container {
    width: 80%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.btn {
    border: none;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-green {
    background-color: #28a745;
    color: white;
}

.btn-green:hover {
    background-color: #218838;
}

.btn-blue {
    background-color: #007BFF;
    color: white;
}

.btn-blue:hover {
    background-color: #0056b3;
}

.btn-red {
    background-color: #dc3545;
    color: white;
}

.btn-red:hover {
    background-color: #b52b37;
}

/* Estilo da Tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.table th {
    background: #007BFF;
    color: white;
}

.table tbody tr:nth-child(even) {
    background: #f9f9f9;
}